
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
node_modules
public/build/app.30f004b3.css
public/build/app.d6d9fcf2.js
public/build/entrypoints.json
public/build/manifest.json
public/build/runtime.ad8a04c6.js
public/build/images/favicon.1e87b872.png
public/build/images/favicon.png
