<footer class="bg-body-tertiary text-center mt-5">
  <div class="text-center p-3" style="background-color: #1a1a1a;">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="{{ path('home') }}">WorkoutWizard</a>
  </div>
</footer>
