{% extends 'base.html.twig' %}

{% block title %}New CategorieExercice{% endblock %}

{% block body %}
    <h1>Create new CategorieExercice</h1>

    {{ include('categorie_exercice/_form.html.twig') }}

    <a href="{{ path('app_categorie_exercice_index') }}">back to list</a>
{% endblock %}
